<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.hollowlog.localrhythm" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:required="true"
        android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/globeicon_rounded"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LocationSearchActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SpotifyPlayerActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
